
@use "@styles/global/variables";
@use "@styles/global/mixins";
@use "@styles/global/functions";

.intro {
  position: relative;
  width: 100%;
  height: 150vh;

  &__sticky {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color-white);
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: var(--color-black);
    clip-path: circle(10% at 50% 50%);
  }

  h1 {
    color: var(--color-white);
    mix-blend-mode: difference;
  }
}
