---
interface Props {
  className?: string
}

const { className } = Astro.props
---

<div class:list={['intro', className]}>
  <div class="intro__sticky">
    <div class="intro__bg"></div>
    <h1>Hello, Buddy!</h1>
  </div>
</div>

<script>
  import { IntroAnimation } from './intro-animation'

  window.addEventListener('DOMContentLoaded', () => {
    new IntroAnimation(document.querySelector('.intro')).init()
  })
</script>
